*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ***************utility clss***************** */
.bg-image{
    background-image:linear-gradient(to bottom, rgba(22, 23, 24, 0.753), rgba(36, 33, 35, 0.575)), 
    url(./assats/Photos/mainBackground.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
.contenar{
    max-width: 1170px;
    margin: 0px auto;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.header{
    font-size: 50px;
    text-align: center;
    margin: 50px;
}
.btn-primary{
    padding: 15px 20px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #576ed6;
    border:none;
    transition: .5s;
}
.btn-primary:hover{
    background-color: #ffffff;
    color: #576ed6;
   
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.navbar::after{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    
}
.logo img{
    width: 100px;
}
.listIteam{
    display: flex;
    column-gap: 80px;
    overflow: hidden;
}
.listIteam li{
    color: #ffffff;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    transition: 0.2s;

}
.listIteam li:hover{
    display: block;
    color:#1441bd;
    cursor: pointer;
}
.hero h1{
    margin-top: 200px;
    color: #ffffff;
    font-size: 70px;
}
.hero p{
    width: 40%;
    color: #b3a9a9;
    margin: 20px 0px;
}
.logo-contenar{
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    background-color: white;
    border-radius: 30px;
    position: relative;
    transform: translateY(-30px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}


.card{
    position: relative;
    height: 350px;
    width: 310px;
    box-shadow: 5px 5px 5px rgba(75, 73, 73, 0.61);
    border-radius: 30px;
}
.img-box{
    width: 100%;
    height: 100%;
  

    
}
.img-box img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  


}
.content-box{
    position: relative;
    height: 20%;
    width: 80%;
    padding: 10px 20px;
    transform: translateY(-50px);
    background-color: aliceblue;
    margin: 0px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: .5s;
}
.card:hover .content-box{
    transform: translateY(0px);
}
.content-box h3{
    position: absolute;
    top: 10px;
    left: 10px;
}
.content-box p{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.content-box h4{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.card-contenar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px 40px;
    place-items: center;
}
.btn{
    padding: 7px 13px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .3s;
}
.btn:hover{
    background-color: #3c82be;
    color: white;
    border: none;
}
.card-1 , .card-4 , .card-7{
    transform: translateY(-50px);
}
.card-2 , .card-5 , .card-8{
    transform: translateY(0px);

}
.card-3 , .card-6 , .card-9{
    transform: translateY(50px);

}
.mordern{
    height: 70vh;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-left{
    /* margin-left: 40px; */
    width: 50%;
    position: relative;
}
.test-left img:first-child{
    width: 80%;
}
.test-left img:nth-child(2){
    width:55% ;
    height: 300px;
    border-radius: 25px;
    position: absolute;
    bottom: 67px;
    right: 146px;
}
.test-right-artical{
    margin-left: 100px;
}
.test-right-artical h1{
    font-size: 50px;
}
.test-right-artical p{
    width: 80%;
    margin: 20px 0px;

}