*{
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150,.3);
    transition: .3s ease-out all;
}
.icon:hover{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon .fb:hover{
    background-color: #105c80;
}
.icon i:nth-child(1):hover{
    background-color: #0f52aa;

}
.fb{
    color: #1e5cce;
}
.din{
    color: #051a41;
}
.twi{
    color: #3e62c5;
}
.git{
    color: black;
}

