* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.navbar ul .listiteam {
    font-size: 19px;
    font-weight: 500;
}

.navbar ul .listiteam:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn,
.btn_eye {
    height: 40px;
    width: 150px;
    background-color: #ffffff;
    color: #7359e7;
    border: 2px solid #7359e7;
    border-radius: 20px;
}

.navbar ul li .btn:hover {
    background-color: #1993b8;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.section_1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(174deg, #f7f7e952 24%, #66d9f373 85%, white 20%);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.section_1 .leftpart {
    width: 400px;
    height: 400px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border: none;
    color: #230f79;
    background-color: #ccc6da;
}

.section_1 .leftpart .learnMore p {
    color: #230f79;
}

.section_1 .leftpart h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.section_1 .leftpart .para {
    color: #9c6868;
    margin-bottom: 20px;
    text-align: justify;
}

.right {
    width: 80px;
    margin-left: 20px;
}

.left {
    background-color: #230f79;
    border: none;
    color: #ffffff;
}

.section_2 {
    height: 80vh;
    margin-top: 30px;
}

.article_Top {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn_eye {
    height: 30px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    padding: 10px;
    background-color: #9b8ae994;
    color: #092d91;
    border: none;
}

.article_Top h1 {
    font-size: 30px;
    margin: 20px;
}

.para_center {
    width: 50%;
    text-align: justify;
}

.artical_Bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

.nameTamplate {
    width: 300px;
    height: auto;
    text-align: center;
}

.section_3 {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.top_artical,
.bottom_artical {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.imgdiv {
    height: 400px;
    width: 400px;
}

.imgdiv img {
    height: 100%;
    width: 100%;
}

.airtical1 {
    width: 50%;
    position: relative;
}

.hero {
    position: absolute;
    top: -30px;
    left: 0px;
}

.airtical1 h1 {
    font-size: 25px;
    margin: 15px 0px;
}

.contenar_4 {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left top, #ffffff 0% 10%, #edf1f9 10% 90%, #ffffff 90% 100%);
}

.iteam_4 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
}

.profile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.logo {
    border-top: 3px solid #f39f9f;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.iteam_4 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section_5 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenar {
    margin-top: 60px;
    height: 80%;
    width: 70%;
    display: flex;


}

.airtical {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.airtical h3 {
    font-size: 25px;
    text-align: left;
}

.airtical p {
    text-align: center;
    margin: 40px 0px;
    font-size: 19px;
    font-weight: 700;
}

.sign_up {
    border-radius: 5px;
    padding: 40px;
    width: 40%;
    text-align: center;
    position: relative;
    background-color: #d9d1ebbe;
}
.sign_up::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    top: -25px;
    left: -20px;
    z-index: -1;
    background-color: #539ef3b0;
    border-radius: 5px;
}
.sign_up .top {
    font-size: 23px;
    position: absolute;
    top: 0px;
    left: 40%;
    margin-bottom: 20px;
}

.sign_up .start {
    width: 100%;
    height: 40px;
    background-color: #092d91;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
}
.sign_up .start p {
    display: inline-block;
    margin-top: 10px;
}
.an_account{
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid black;
}
.input {
    display: flex;
    flex-direction: column;
    /* border: none; */
    /* border-style: none; */
}

.input input {
    
    outline: none;
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #f0d8d8;
    border-radius: 4px;
    font-size: 17px;
    padding-left: 5px;
    font-weight: 700;
    box-shadow: 0px 5px 5px #a39d9d;
}
.input input:hover{
    border: none;
}

.logo_img {

    margin: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
footer{
    height: 100vh;
    width: 100%;
}
.footer_part{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.discribe{
   display: grid;
   grid-template-rows: 1fr ;
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
   font-size: 18px;
   gap: 20px;
   padding: 100px;
   
}
.footer_section  li{
    list-style: none;
    line-height: 33px;
}

.footer_section_1{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.footer_section_1 .img_logo{
    height: 35px;
    width: 100px;
}

.socal img{
    height: 35px;
    width: 35px;

}

#email{
    border: none;
}
.jara{
    position: relative;
}
.inputEmail::after{
    content: url(./assats/Icons/timeline.svg);
    position: absolute;
    right: 0px;
}